@page "/ViewProduct/{id:int}"
@using BlazorBestBuyDemo.Data
@using BlazorBestBuyDemo.Services
@inject IProductService productService
@inject NavigationManager NavigationManager

@code {
    public string GetPictureByCategoryID(int categoryID)
    {
        switch (categoryID)
        {
            case 1:
                return "Computers.jpg";
            case 2:
                return "Appliances.jpg";
            case 3:
                return "Phones.jpg";
            case 4:
                return "Audio.jpg";
            case 5:
                return "Home Theater.jpg";
            case 6:
                return "Printers.jpg";
            case 7:
                return "Music.jpg";
            case 8:
                return "Games.jpg";
            case 9:
                return "Services.jpg";
            default:
                return "Other.jpg";
        }
    }
}

<div>
    <h1 class="display-1 text-center m-5">@product.Name</h1>
</div>

<div class="row bg-dark text-white-50 m-5">
    <div class="col">
        <div class="card bg-dark mt-2">
            <img class="card-img-top w-75" src="imgs/@GetPictureByCategoryID(product.CategoryID)" />
            <div class="card-body">
                <p>Product Description (needs to be added to database)</p>
            </div>
        </div>
        <button class="btn btn-primary m-2" @onclick="Update">
            Update this Product
        </button>
        <button class="btn btn-danger m-2" @onclick="Delete">
            Delete this Product
        </button>
    </div>
    <div class="col pt-2">
        <h5>@product.Name</h5>
        <h5>$@product.Price</h5>
        <h5>Category ID: @product.CategoryID</h5>
        <h5>On Sale: @product.OnSale</h5>
        <h5>Stock Level: @product.StockLevel</h5>
        <div class="my-4">
            <p class="m-2">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitation
                ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </p>
        </div>



    </div>
</div>



@code {
    [Parameter]
    public int ID { get; set; }
    private Product product;

    protected override void OnInitialized()
    {
        product = productService.ViewProduct(ID);
    }

    private void Update()
    {
        NavigationManager.NavigateTo($"UpdateProduct/{@ID}");
    }

    private void Delete()
    {
        productService.DeleteProduct(product);
        NavigationManager.NavigateTo($"GetAllProducts");
    }
}